#content table.index .node .audio {
    font-size:115%;
    font-weight:bold;
}

#content table.index .node .audio a, 
#content table.index .node .audio a:visited {
    color:black;
    text-decoration:none;
}
#content table.index .node .audio img{margin: 0 10px 5px 0;}

#content .form-area #audio_url.textbox,
#content .form-area #audio_description.textbox {
    font-size:150%;
    height:200px;
    width:100%;
}

#content .form-area .title .textbox {
    font-family:Georgia,Palatino,"Times New Roman",Times,serif;
    font-size:200%;
    width:100%;
}

#content #audio_form_area{
    width:500px;
}

#content #audio_form_area .row {
    clear:both;
    height:1em;
    margin:1em 0;
    width:100%;
}

#content .form-area .url,
#content .form-area .description {
    margin-bottom:1em;
    margin-top:1em;
}

#content .index tr.inactive td.audio a,
#content .index tr.inactive td.audio a:visited{
    font-style: italic;
    text-decoration: line-through;
}

#content .form-area #audio_form_area .error {
    color:#FF0000;
    padding:0 2px 2px;
}

/* Reorder stuff */
.audio_track {
  font-size: 120%;
  font-weight: bold;
  position: relative;
  padding: 10px;
  padding-left: 30px;
  border-top: 1px solid #eaeaea;
}
.audio_track .icon {
  position: absolute;
  margin-top: -7px;
  left: 0px;
}
ul#audio_tracks,
ul#audio_tracks li {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: move;
}
ul#audio_tracks {
  border-bottom: 1px solid #eaeaea;
}
ul#audio_tracks li {
  font-size: 105%;
  font-weight: normal;
}
ul#audio_tracks li img{
  margin: 6px 16px;
}
ul.page .icon,
ul#audio_tracks .icon {
  position: absolute;
  margin-top: -7px;
  left: 22px;
}

/* Audio Player Config Form stuff */
ul#colour_fields{
  float: left;
  width:750px;
  margin: 0px;
  list-style-type: none;
  }
ul#colour_fields li{
  float: left;
  width: 250px;
  margin-bottom: 10px;
  }
ul#colour_fields li label{
  margin-bottom: 3px;
  display: block;
  }
ul#colour_fields li input{
  padding: 0.5em 1em 0.25em;
  font-family: "Courier New",Courier,monospace;
  font-weight: bold;
  text-align: right;
  width:75%;
  border: 2px solid #F5F1E2;
}
ul#colour_fields li input.colorwell-selected{
  font-style: italic;
  border: 2px dotted #F5F1E2;
}

#audio_player_config_form_area{
  margin: 0 0px;
  
}
#audio_player_config_form_area .form-area{
  padding: 20px;
  margin: 0;
  width: auto;
}
#audio_player_config_form_area p{
  clear: both;
}

#widgets{
  margin: 20px 40px;
  width:750px;
  height:220px;
  position: relative;
}
#picker{
  position: absolute;
  left:8px;
}
#example{
  position: absolute;
  left:250px;
  top:90px;
}
#content #example p{
  margin-top: 12px;
  font-size: 92%;
}

#extra_options{
  clear: both;
  margin: 0px;
  padding: 20px 40px;
  list-style-type: none;
}
#extra_options li{
  float: left;
  width: 250px;
}

